body{
    font-family: sans-serif;
}

a:hover {
    color: darkgray;
    font-weight: bold;
}  

a{
    text-decoration: none;
    color: whitesmoke;
}

#caja1{
    position:absolute;
    top:0%;
    height:25%;
    right:2%;
    width: 80%;
    background-color: rgb(144, 157, 214);
}

#caja2{
    position:absolute;
    top:25%;
    height:25%;
    right:2%;
    width: 80%;
    background-color: rgb(6, 91, 94)
}

#caja3{
    position:absolute;
    top:50%;
    height:25%;
    right:2%;
    width: 80%;
    background-color: rgb(73, 105, 44);
}

#caja4{
    position:absolute;
    top:75%;
    height:25%;
    right:2%;
    width: 80%;
    background-color: rgb(156, 80, 9);
}

#menu{
    width: 18%;
    padding-right: 30px;
    background-color: #564B4B;
    position: fixed;
    height: 100%;
    text-align: center;
}

ul{
    list-style: none;
}

#ulmenu{
    padding-top: 30px;
    font-size: 30px;
    line-height: 2.2;
}